{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en" data-theme="auto">
<head>
    <meta charset="UTF-8">
    <title>Trash Classify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/dark_mode.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
    {% progressive_web_app_meta %}
</head>
<body>
    <div class="content-wrap">
        <div class="container">
            <h1 style="text-align: center;">Trash Classify</h1>
            <div style="margin: 0px 0px 5px 5px;">Upload Image</div>
            
            <form method="POST" enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <input type="file" name="image" accept="image/*" required id="fileInput">
                <button type="submit" id="uploadButton">Upload</button>
            </form>
            
            {% if result %}
                <div id="result">
                    <h2>Result: {{ result }}</h2>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            const uploadButton = document.getElementById('uploadButton');
            uploadButton.disabled = true;
            uploadButton.textContent = 'Uploading...';
        });
    </script>
</body>
</html>
